<main class="lista-vacantes">
    <h2 class="text-uppercase">Navegacion</h2>
    <div class="botones separador">
        <a href="/editarPerfil" class="btn btn-azul">Editar Perfil</a>
        <a href="/devjobs/vacantes/nueva" class="btn btn-verde">Agregar Vacante</a>
    </div>
</main>