<main class="contenedor">
    <h2 class="text-uppercase text-center py-2 bg-danger rounded-5 my-5">Error {{status}}</h2>
    <h2 class="fw-bold text-uppercase text-center bg-danger rounded-5 text-white">{{errorVista}}</h2>

    <div class="container-xl my-5">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-6">
                <a href="/devjobs" class="btn btn-primary">Regresar a Home</a>
            </div>
        </div>
    </div>
</main>