<main class="contenedor">
    <form action="/devjobs/email-recuperar-password" method="post" class="default-form">
        <h3 class="text-center">Recupera tu Password</h3>

        {{#if error}}
            <div class="bg-danger px-3 py-2 text-white text-uppercase fw-bold text-center my-5 rounded fs-2">{{msg}}</div>
        {{/if}}
        {{#if success}}
            <div class="bg-success px-3 py-2 text-white text-uppercase fw-bold text-center my-5 rounded fs-2">{{msg}}</div>
        {{/if}}
        <div class="campo">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" placeholder="Email para recuperacion de password" required>
        </div>
        <div class="campo centrar-horizontal">
            <input type="submit" class="btn btn-azul" value="Enviar Email">
        </div>
    </form>
</main>